@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


@layer base {
  :root {
    --background: hsl(210, 17%, 98%);

    --hover: hsl(210, 16%, 94%);
    --hover2: hsl(210, 14%, 89%);

    --input: hsl(210, 14%, 89%);

    --border: hsl(220, 3%, 82%);

    --button: hsl(202, 56%, 38%);
    --buttonHover: hsl(202, 56%, 35%);
    --buttonHover2: hsl(202, 56%, 30%);

    --goldColor: hsl(24, 100%, 50%);
    --goldColorHover: hsl(24, 100%, 45%);

    --greenColor: hsl(141, 44%, 38%);
    --greenColorHover: hsl(141, 44%, 42%);

    --redColor: hsl(357, 93%, 59%);
    --redColorHover: hsl(357, 75%, 52%);

    --baseText: hsl(330, 10%, 4%);
    --alternateText: hsl(300, 0%, 55%);
    --baseHoverText: hsl(0, 1%, 20%);

    --fontEnglishInter: "Inter", "system-ui", "Arial", "sans-serif";
    --fontEnglishJost: "Jost", "system-ui", "Arial","sans-serif";
    --fontEnglishSystem: "system-ui", "Arial","sans-serif";
    --fontEnglishArial: "Arial","sans-serif";

 
  }
  .dark {
    --background: hsl(210, 10%, 23%);
    --hover: hsl(210, 11%, 15%);
    --hover2: hsl(210, 9%, 30%);

    --input: hsl(0, 0%, 25%);

    --border: hsl(208, 7%, 46%);

    --button: hsl(202, 56%, 38%);
    --buttonHover: hsl(202, 56%, 35%);
    --buttonHover2: hsl(202, 56%, 40%);
    
    --goldColor: hsl(24, 100%, 50%);
    --goldColorHover: hsl(24, 100%, 45%);

    --greenColor: hsl(141, 44%, 48%);
    --greenColorHover: hsl(141, 44%, 42%);

    --redColor: hsl(357, 93%, 59%);
    --redColorHover: hsl(357, 93%, 57%);

    --baseText: hsl(0, 0%, 100%);
    --alternateText: hsl(300, 0%, 55%);
    --baseHoverText: hsl(0, 0%, 85%);

    --fontEnglishInter: "Inter", "system-ui", "Arial", "sans-serif";
    --fontEnglishJost: "Jost", "system-ui", "Arial","sans-serif";
    --fontEnglishSystem: "system-ui", "Arial","sans-serif";
    --fontEnglishArial: "Arial","sans-serif";
  }
}

@layer base {
  body {
    @apply bg-hover text-baseText font-fontEnglishInter;
  }
}
